/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

/* font normalization inspired by  from the YUI Library's fonts.css: developer.yahoo.com/yui/ */
body { 
	background: white url('../images/gridbg.gif'); /* Typo Grid */
	font:13px/1.231 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; 
	*font-size:small; /* hack retained to preserve specificity */
} 
select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* `Links
----------------------------------------------------------------------------------------------------*/

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

a:focus {
    outline: thin dotted;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/
h1 {
	font-size: 25px;
	line-height: 37px;
}

h2 {
	font-size: 23px;
	line-height: 23px;
}

h3 {
	font-size: 21px;
	line-height: 27px;
}

h4 {
	font-size: 19px;
	line-height: 27px;
}

h5 {
	font-size: 17px;
	line-height: 23px;
}

h6 {
	font-size: 15px;
	line-height: 21px;
}

/* `Lists
----------------------------------------------------------------------------------------------------*/
dd {
    margin: 0 0 0 20px;
}
ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/
li {
	margin-left: 20px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 18px;
}
/* ==|== primary styles =====================================================
   	Author: Joerg Schoeneburg
   ========================================================================== */
  
  
  
  
/* ==|== CSS object classes =================================================
   	Please define your styles before this section.
   ========================================================================== */

/** the nav object **/
.nav {}
	.nav ul { margin-bottom: 0; }
		.nav li { 
			list-style: none; 
			list-style-image: none;
			margin-left:0;
		}
			/** nav object for horizontal navigations **/
			.nav.horizontal ul,
			.nav.horizontal li { display: inline; }
			
				/** nav object for horizontal navigations with divider
				 * 	 1. divider style
				 *   2. IE6, IE7 & IE8 content hack  
				 */	
				.nav.horizontal.divider li:after,
				.lt-ie9 .nav.horizontal.divider li .ie-after {
				    content: "|";  /* 1. */
					padding:0 10px;
				    display:inline-block;
				    display:-moz-inline-stack;
	          		zoom: 1;
	          		*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = "|"); /* 2. */
				    *display:inline;
				    font-style: normal;
				}
				.nav.horizontal.divider li:last-child:after,
				.lt-ie9 .nav.horizontal.divider li:last-child .ie-after {
					content: "";
				  	background: none repeat scroll 0 0 transparent;
				  	padding-left:0;
				  	/* IE6, IE7 & IE8 dont display content Hack ;)  */
				  	*color:transparent;
				  	*background-color: transparent;
				  	*font-size: 0;
				  	*line-height: 0;
				}							
	
				/** nav object for breadcrumb, with divider **/
				.nav.breadcrumb li{ 
					display: inline; 
					margin-left:20px;
				}
				/** 
				 * 	1. divider 
				 * 	2. IE6, IE7 & IE8 content hack  
				 */
				.nav.breadcrumb li:after,
				.lt-ie9 .nav.breadcrumb li .ie-after { 
					content: "\25B8"; /* 1. */
				    display:inline-block;
				    display:-moz-inline-stack;
	          		zoom: 1;
				    *display:inline;
				    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = "\25B8"); /* 2. */			    
				    font-size:1.5em;
				    font-style: normal;
				    padding:0 0 0 20px;
				    vertical-align:middle;			    
				}
				.nav.breadcrumb li:last-child:after, 
				.lt-ie9 .nav.breadcrumb li:last-child .ie-after {
					content: "";
					/* IE6, IE7 & IE8 dont display content Hack ;)  */
				  	*color:transparent;
				  	*background-color: transparent;
				  	*font-size: 0;
				  	*line-height: 0;
				}
				.nav.breadcrumb li a {color: #2c4460 !important;}
				
		/* ==|== IE6, IE7 & IE8 ::after polyfill ============================================= */
		.lt-ie9 .nav.horizontal.divider li,
		.lt-ie9 .nav.breadcrumb li { zoom: expression( this.runtimeStyle.zoom="1", this.appendChild( document.createElement("i") ).className="ie-after" ); }

/* ==|== non-semantic helper classes ========================================

   ========================================================================== */
.left { 
  float: left; 
  margin: 0 18px 18px 0; 
}

.right { 
  float: right; 
  margin: 0 0 18px 18px; 
}

/*
 * Chrome Frame Prompt
 */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
 * Image replacement
 */
.ir {
	border: 0;
	margin: 0;
	border: 0;
	font-size: 0 !important;
	line-height: 0 !important;
	text-shadow: none;
	color: transparent;
	background-color: transparent !important;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute; 
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/*
 * Contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}