/*
  RESET STYLESHEET V1.1 | 2012-10-29

  reset.css contains a reset, font normalization and some base styles.

  much inspiration was taken from these projects:
    http://meyerweb.com/eric/tools/css/reset/
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
    normalize.css - http://github.com/necolas/normalize.css 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* always force a scrollbar in non-IE: */
html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
	line-height: 1;
}

/*
 * Lists
 */
ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}
dd {
    margin: 0 0 0 40px;
}
caption, th {
	text-align: left
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
}

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, F3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
    border: 0; /* 1. */
    vertical-align: middle;
    -ms-interpolation-mode: bicubic; /* 2. */
}

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
    overflow: hidden;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
pre {
	/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word;
	padding: 15px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* `Links
----------------------------------------------------------------------------------------------------*/

/* remember to define focus styles! */
:focus {
	outline: none;
}

/* placeholderhack for chrome */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent;
}

/* accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
	outline: none;
}

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

::-webkit-input-placeholder {
   color: #333;
}
:-moz-placeholder {  
   color: #333;  
}



/* `Forms
----------------------------------------------------------------------------------------------------*/
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
    margin: 0;
}

/*
 * Define consistent margin and padding
 */
fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal;
    *margin-left: -7px; /* 2 */
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}
input, select {
	vertical-align: middle;
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit
}
input, textarea, select {
	*font-size: 100%
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
input[type="button"], input[type="submit"], input[type="image"], button { 
	cursor: pointer;  /* 1 */
	-webkit-appearance: button; /* 2 */
    *overflow: visible;
}
label, select { 
	cursor: pointer; 
    *overflow: visible;
}

/* align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }

/* Consistent box sizing and appearance */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7
 */
button,
input {
    line-height: normal; /* 1 */
    *overflow: visible;  /* 2 */
}

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing
 */
table button,
table input {
    *overflow: auto;
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
    cursor: default;
}


/* `Table
----------------------------------------------------------------------------------------------------*/

/* Remove most spacing between table cells.
 * Tables still need 'cellspacing="0"' in the markup 
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	vertical-align: top;
}